.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;

    .header {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        & small {
            padding: .5rem;
        }
    }

    .commentBody {
        width: 85%;
        color: lightgray;
    }
}