.nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1d1d1d;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #FFD166;
    z-index: 10;

    & h1 {
        font-size: 1.618rem;
        color: #FFD166;

        &:hover {
            color: white;
            cursor: pointer;
        }
    }
}