.container {
    width: 90%;
    min-height: 100%;
    display: flex;
    gap: 2rem;
    height: fit-content;
    border-radius: 8px;
    // background-color: #073B4C;
    margin-top: 2rem;

    & > * {
        min-height: 85vh;
    }
}

.sidebar {
    flex: 1;
    border: 1px lightgray solid;
    background-color: #1d1d1d;
    color: #fff;
}

.main {
    flex: 4;

    & .header {
        display: flex;
        justify-content: space-between;
        height: auto;
        background-color: #1d1d1d;
        color: white;

        & * {
            margin: 1rem;
        }
    }
}